body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} 
header{
    position: absolute;
    background-color: white;
    height:120px;
    padding-bottom:1.5rem;
    width: 100%;
    top:0;
    z-index:2;
}
i{
    font-size: 24px;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.content{
    display:flex; 
}

.logo{
    margin-left:27rem;
    font-size: 30px;
    cursor: pointer;
    color: #BC6633;
}
.carrinho{
    margin-left:2rem;
}
.sign{
    margin-left:18rem;
    gap: 5rem;
}
.menu{
    display: flex;
    gap:4rem;
    justify-content: center;
    cursor: pointer;
}
select{
    border:none;
    background-color: white;
}

main{
    margin-top: 13rem;
    margin-bottom:10rem;
    
}
.information{
    text-align: center;
}
.information>h1{
    font-size: 40px;

}
.title-duvidas{
    text-align: center;
    color: #BC6633;
    
}
.duvidas{
    text-align: center;
}
.p-duvidas{
    font-size:14px;
}
.grid-contact{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows:200px;
    justify-content: center;
    margin-bottom: 8rem;
}
.visit{
    font-size:40px;
    color: #BC6633;
}
.schedule{
    font-size: 40px;
    color: #BC6633;
}
.inf-contact{
    font-size: 40px;
    color: #BC6633;
}
.search{
    margin-top:2rem;
    margin-left:14rem;
    align-items: center;
}
.name{
    margin-top:1rem;
    display: flex;
    margin-bottom: 1rem;

}
.grid-name{
    display: grid;
    width: 500px;
}
.grid-name>label{
    font-size:16px ;
}
.grid-surname{
    display: grid;
    width: 500px;
}
.grid-surname>label{
    font-size: 16px;
}

.grid-name>input{
    
    border-bottom: 1px solid #BC6633;
    border-top: none;
    border-left: none;
    border-right: none;
    width:400px;
    font-size: 14px;
    background-color:white;
}

.email{
    margin-bottom:1.2rem;
    display: grid;
}
.email>input{
    width: 900px;
    border-bottom:1px solid #BC6633;
    border-left: none;
    border-right:none;
    border-top: none;
}

.grid-surname> input{
    width:400px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BC6633;
    font-size: 14px;

}

.subject{
    display: grid;
    gap: 0.5rem;
}
.subject>label{
    font-size: 16px;
}

.subject>input{
    width: 900px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BC6633;
    margin-bottom: 1rem;
}
.message>p{
    font-size: 11px;
}
.message>textarea{
    width:900px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BC6633;
}
.btn{
    color: #BC6633;
    background-color: white;
    margin-top:3rem;
    width:350px;
    height:40px;
    font-size: 16px;
    border-color: #BC6633;
    text-align: center;
    align-items: center;justify-content: center;
}
.btn:hover{
    background-color:#D3895F;
    color: white;
}

.thank{
    font-size: 12px;
}
.send{
    text-align: center;
}

.grid-footer{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 300px;
    grid-auto-rows:200px;
    margin-top: 2.5rem;
    justify-content: center;
    text-align: center;
}
.logo-footer{
    font-size: 40px;
    color: #BC6633;
    text-align:start;
}
.subscription{
    display: grid;
    gap:0.4rem;
}
.subscription> label{
    text-align: left;
    color: #BC6633;
}
.subscription >input{
    border-bottom: #BC6633 1px solid ;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subscription >button{
    border: solid 1px #BC6633;
    background-color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #BC6633;
}
.subscription> button:hover{
    background-color: #D3895F;
}
.div-subscription>p {
    font-size:14px;
}
.address{
    font-size: 14px;
    margin-top:30px;
    background-color: #D9D9D9;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}