body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} 
header{
    position: absolute;
    background-color: white;
    height:120px;
    padding-bottom:1.5rem;
    width: 100%;
    top:0;
    z-index:2;
}
@media screen and (min-width:1200px) {
header{
    position: absolute;
    background-color: white;
    height:120px;
    padding-bottom:1.5rem;
    width:100%;
    top:0;
    z-index:2;
}
    
}
i{
    font-size: 24px;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.link-social>a{
    text-decoration: none;
    color: black;
}
.content{
    display:flex; 
}

.logo{
    margin-left:27rem;
    font-size: 30px;
    cursor: pointer;
    color: #BC6633;
    margin-top:1rem;
    text-decoration:none ;
}
.carrinho{
    margin-left:2rem;
}
.sign{
    margin-left:18rem;
    gap: 5rem;
}
.menu{
    display: flex;
    gap:4rem;
    justify-content: center;
    cursor: pointer;
}
.menu> a{
    text-decoration: none;
    color: black;
    margin-top: 2rem;
}
select{
    border:none;
    background-color: white;
}

.slide{
    width:100%;
    height:700px;
    
}
.slide >img{
    width:100%;
    height: auto;
    object-fit: cover;
    height:700px;
   
}
.more-product{
    text-align: center;
    position:relative;
    margin-top:-8rem;

}
.more-product >p{
    font-size: 42px;
    color: white;
    text-align: center;
    margin-bottom:4rem;
    margin-top:-17rem;

}
.more-product> button{
    margin-bottom:20rem;
    border: white 1px solid;
    background-color: transparent;
    color: white;
    width:300px;
    height: 50px;
    font-size:16px;
}
.more-product > button:hover{
    background-color: rgba(255, 255, 255, 0.911);
    color: #BC6633;
}

.see-product{
    text-align: center;

}
.btn-see{
    border-color: #BC6633;
    color: #BC6633;
    background-color: white;
    font-size: 16px;
    padding: 15px 35px 15px 35px;

}

.destaque{
    text-align: center;
    margin-top:-8rem;
}
.traco{
    font-size:40px;
    text-align: center;
}

.grid-wrapper >img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.grid-wrapper> div> img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid-wrapper{
    display:grid;
    grid-gap:1rem;
    grid-template-columns: 250px 250px 300px 250px ;
    grid-auto-rows:250px;
    grid-auto-flow: dense;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:1rem;
    justify-content: center;
}
.before-slide{
    cursor: pointer;
}
.after-slide{
    cursor: pointer;
}
.description-product{
    margin-top:-1.8rem;
    margin-bottom:0rem;
    text-align: center;
}

.see-product{
    align-items: center;
    justify-content: center;
    margin-top: -11rem;
    margin-bottom: 5rem;
    
}
.btn-see{
    border-radius: 0.1rem;
}

.product{
    display: grid;
    grid-template-columns:685px 685px;
    grid-auto-rows: 400px 400px;
    margin-top: 3rem;
    margin-bottom: 20px;
}
.product >div > img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.1rem;
    

}
.description-to-le{
    margin-top:-41rem;
    text-align: center;
    color: white;
    font-size: 42px;
}
.description-to-ri{
    margin-top:-41rem;
    text-align: center;
    color: white;
    font-size: 42px;
}
.description-botto{
    margin-top: -41rem;
    text-align: center;
    color: white;
    font-size: 42px;

}
.description-botto-ri{
    margin-top: -41rem;
    text-align: center;
    color: white;
    font-size: 42px;
}
.empty{
    margin-top:-2rem;
    width:430px;
    background-color: white; 

}

.about-mission{
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 5rem;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 300px 100px;
    justify-content: center;
    margin-top:-45rem;
    margin-bottom: 2rem;
}
.about-mission > div> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.our-mission{
    margin-top: -20rem;
    color: white;
    text-align: center;
}
.our-line{
    width:140px;
    background-color: white;
    margin-top:-0.5rem;
}
.follower{
     text-align: center;
     margin-top: -10rem;
     margin-bottom: 1rem;
}
.follower >a{
    color: #BC6633;
    text-decoration: none;
    font-size: 20px;
}

.some-photo{
    display: grid;
    grid-template-columns: 274px 274px 274px 274px 274px;
    grid-auto-rows: 200px;
    
}
.some-photo> div >img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   
}

.deliver{
    display: flex;
    gap: 3rem;
    margin-top:2.5rem;
    font-size: 28px;
    color: #BC6633;
    text-align: center;
    justify-content: center;
    background-color:#D6B8A8 ;
}

    
/* css of footer*/
.grid-footer{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 300px;
    grid-auto-rows:200px;
    margin-top: 2.5rem;
    justify-content: center;
    text-align: center;
}
.logo-footer{
    font-size: 40px;
    color: #BC6633;
    text-align:start;
    text-decoration: none;
}
.more-menu >a{
    text-decoration: none;
    color: black;
    display: grid;
    grid-gap: 2rem;
    padding-top:10px;
}
.about-store>a{
    text-decoration: none;
    display: grid;
    color: black;
    padding-top:10px;
}
.some-link>a{
    text-decoration: none;
    display: grid;
    color: black;
    padding-top:10px;
}
.subscription{
    display: grid;
    gap:0.4rem;
}
.subscription>label{
    text-align: left;
    color: #BC6633;
}
.subscription >input{
    border-bottom: #BC6633 1px solid ;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subscription >button{
    border: solid 1px #BC6633;
    background-color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #BC6633;
}
.subscription> button:hover{
    background-color: #D3895F;
    color: white;
}
.div-subscription>p {
    font-size:14px;
}
.address{
    font-size: 14px;
    margin-top:30px;
    background-color: #D9D9D9;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.address>a{
    text-decoration: none;
    color: black;
}




 




